* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
    background-color: rgb(223, 217, 171);
}

article {
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    padding: 2vh;
    margin: auto;
    background-color: white;
    
}

p {
    font-weight: bold;
}

ul {
    display: flex;

 
}

.liste {
    display: flex;
    list-style-type: none;
    width: 100%;
    
}

.menu {
    width: 100%;
    padding: 1vh;
    border: 2px solid #e0e5ee;
    border-radius: 3px;
    color: #e0e5ee;
    background-color: maroon;
    text-align: center;
}

/*.menu:hover {
    background-color: #e0e5ee;
    color: maroon;
    border: 2px solid maroon;

}*/


.backwhite {
    background-color: white;
}